<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs')%>

            <main>
                <center>
                    <h1>
                        <%= pageTitle %>
                    </h1>
                </center>
            </main>
            <%- include('includes/end.ejs') %>